<form class="form" novalidate (ngSubmit)="process()" [formGroup]="form">
  <div class="form-group">
    <input type="text" class="form-control" aria-describedby="emailHelp" placeholder="Name*" formControlName="name">
    <div class="text-danger" *ngIf="hasError('name')">Champs invalid</div>
  </div>
  <div class="form-group">
    <input type="text" class="form-control" placeholder="Réference exp:1234" formControlName="reference">
    <div class="text-danger" *ngIf="hasError('reference')">Champs invalid</div>
  </div>
  <div class="form-group">
    <select class="form-control" formControlName="state">
      <option *ngFor="let libelle of stateLibelles" [ngValue]="libelle">{{libelle}}</option>
    </select>
  </div>
  <div class="form-group">
    <button [disabled]="form.invalid" type="submit" class="btn btn-primary">Valider</button>
  </div>
</form>
